@import url('reset.css');
@import url('fontcv.css');
@import url('headercv.css');
@import url('footercv.css');

}
body {
    background-color: #fff;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

div#wrap {
    position: relative;
    width: 1000px;
    margin: auto;
    border-left: 1px solid #999;
    border-right: 1px solid #999;
}

header {
    height: 75px;
    background-color: #1D9FB0;
    padding: 55px;


}

header h1 {
    margin: 10px 0 20px;
}

header h2 {
  padding: 30px;
}


header h1 img {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100px;
}

div#mainFlexed {
    display: flex;
    flex-direction: row-reverse;
}

main section, main aside {
    padding: 10px;
}

main section dl dt, main aside dl dt {
    margin: 50px 0 20px;
    border-bottom: 1px solid #666;
}

main section dl dt.first, main aside dl dt.first {
    margin: 0 0 20px;
}

main section dl dd, main aside dl dd {
    display: list-item;
    list-style-type: circle;
    list-style-position: inside;
}

main section dl dd ul, main aside dl dd ul {
    padding: 0 0 0 30px;
}

main section dl dd ul li, main aside dl dd ul li {
    list-style-type: square;
    list-style-position: inside;
}

main section {
    width: 70%;

    /* Je mets une couleurs de fond juste pour visualiser */
    background-color: #1A5BB8;
}

main aside {
    width: 30%;

    /* Vous avez le droit de dire que j'ai des goûts de merde */
    background-color: #C0EDF3;
}

footer {
    clear: both;
}
